doxygen
bin
obj
*.depend
*.layout
*.xml
lacdorange.wad
lacdorange.txt
engine/editor/wad/graphics/worlds/lacdorange/lac/*
!engine/editor/wad/graphics/worlds/lacdorange/lac/0001.png
!engine/game/res/wad/lacdorange.wad